name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        docker build -t ravikamal0212/portfolio-image:latest .
        docker push ravikamal0212/portfolio-image:latest

    - name: SSH into EC2 and Deploy Container
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          sudo docker stop portfolio || true
          sudo docker rm portfolio || true
          sudo docker pull ravikamal0212/portfolio-image:latest
          sudo docker run -d -p 80:80 --name portfolio ravikamal0212/portfolio-image:latest
